body {
    margin: 0;
    min-height: 100%;
}

.wrapper {
    display: inline-block;
    padding-top: 54px;
    height: 100%;
    width: 100%;
}


.menu-bar {
    display: inline-block;
    position: fixed;
    width: 275px;
    min-height: 575px;
    margin-left: 0px;
    background-color: rgb(245,247,249);
    width: 275px;
}


.menu-bar img{
    width: 50px;
    height: 50px;
}

#profile-name {
}


.top-navigation-bar {
    height: 54px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgb(53,58,66);
}


.page-content {
    display: block;
    margin-left: 275px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
}


.object-page {
    width: 100%;
    min-height: 520px;
}
    

@media screen and (max-width: 800px){
    
.menu-bar {
    position: static;
    display: none;
    width: 100%;
    margin-left: -100%;
}


.page-content {
    width: 95%;
    border: 0;
    margin-left: 0;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}


.object-page {
    min-height: 900px;
}
    
}
