body {
    margin: 0;
}

.wrapper {
    font-family: "Avenir Next";
    padding: 5px 50px;
}


.heading {
    font-weight: bold;
    color: rgb(195,201,210);
}

h1 {
    font-size: 35px;
}


.timer {
    position: absolute;
    right: 50px;
    top: 50px;
}

#time {
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: rgb(195,201,210);
}

.line {
    height: 5px;
    width: 100%;
    margin: auto;
    background-color: rgb(195,201,210);
}

.question {
    font-size: 30px;
    color: rgb(195,201,210);
}

.answers {
    display: flex;
    height: 370px;
    margin-left: 10px;
    flex-direction: column;
    justify-content: space-around;
}

.ans {
    font-size: 20px;
    color: rgb(59,65,73);
}

.next-back {
    text-align: right;
}

.next-back img {
    opacity: 0.5;
    height: 50px;
    width: 50px;
    cursor: pointer;
}


.next-back img:hover {
    opacity: 1;
}


.next-back img:active {
    opacity: 0.2;
}

.progress-bar {
    position: relative;
    margin-top: 10px;
}


#full-bar {
    width: 100%;
    height: 30px;
    background-color: rgb(242,242,242);
    border: 1px solid rgb(211,211,211);
    border-radius: 4px;
    box-shadow: 1px 1px 1px rgb(224,224,224);
}

#loading-bar {
    width: 0%;
    height: 30px;
    background-color: rgb(157,207,96);
    border-radius: 4px;
    text-align: center;
}

#percent {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    color: black;
    font-weight: bold;
    line-height: 30px;
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: rgb(64,70,77);
    background-color: white;
    border: 2px solid rgb(138,138,138);
    border-radius: 8px;
    box-shadow:  0px 0px 30px -4px black;
    width: 500px;
    height: 150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.modal-title {
    height: 50px;
}

#title {
    display: inline-block;
    width: 90%;
    padding-left: 10px;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
}


#close {
    display: inline-block;
    width: 5%;
    color: rgb(240,240,240);
    background-color: white;
    border: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
}

#close:hover {
    color: rgb(100,100,100);
}

#close:active {
    color: rgb(100,100,100);
}

.modal-content {
    width: 100%;
    height: 40px;
    border-top: 1px solid rgb(242,242,242);
    border-bottom: 1px solid rgb(242,242,242);
}


#content {
    margin: 0;
    padding-left: 10px;
    font-size: 14px;
    border: 
}


.model-button {
    height: 58px;
    text-align: right;
    vertical-align: middle;
}


#no-button {
    position: relative;
    top: 15px;
    color: rgb(51,51,51);
    width: 50px;
    background-color: rgb(250,250,250);
    padding: 5px 10px;
    border: 1px solid rgb(235,235,235);
    border-radius: 4px;
    margin-right: 10px;
    font-size: 15px;
    outline: none;
    cursor: pointer;
}


#no-button:active {
    background-color: rgb(175, 175, 175);
}

#yes-button {
    position: relative;
    top: 15px;
    color: white;
    width: 80px;
    background-color: rgb(0,132,255);
    padding: 5px 10px;
    border: 1px solid rgb(28,130,255);
    border-radius: 4px;
    margin-right: 10px;
    font-size: 15px;
    outline: none;
    cursor: pointer;
}


#yes-button:active {
    background-color: rgb(0, 92, 172);
}


@media screen and (max-width: 800px), screen and (max-device-width: 800px){
    
.wrapper {
    padding: 5px 10px;
}

.timer {
    position: static;
    background-color: rgb(195,201,210);
    text-align: center;
}

#time {
    color: white;
    opacity: 1.0;
}

.next-back {
    position: relative;
}

.next-back img:first-child {
    float: left;
    left: 0;
}


.next-back img:last-child {
    float: right;
    right: 0;
}

.progress-bar {
    clear: both;
}

#full-bar, #loading-bar {
    font-size: 12px;
    height: 15px;
}

#percent {
    line-height: 15px;
}

.modal {
    width: 95%;
    max-width: 500px;
}

}