body {
    margin: 0;
}

.form-content {
    max-width: 800px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    border: 8px solid rgb(221,221,221);
    padding: 20px;
    font-family: "Avenir Next";
}


.heading {
    font-size: 30px;
    font-weight: bold;
    color: rgb(195,201,211);
}




.profile-pic {
    float: left;
    width: 30%;
    height: 80%;
    max-height: 300px;
    display: inline-block;
    text-align: center;
}



#profile-pic {
    display: block;
    max-height: 200px;
    min-height: 200px;
    width: 200px;
    max-width: 100%;
    object-position: center;
    object-fit: cover;
    border: 5px solid rgb(221,221,221);
    margin: 15px auto;
    display: block;
}




.informations {
    float: right;
    display: flex;
    height: 300px;
    flex-direction: column;
    justify-content: space-around;
    width: 65%;
}


.info {
    position: relative;
}


.property, .clone-property {
    display: inline-block;
    width: 30%;
    height: 15px;
    text-align: right;
    font-weight: bold;
    line-height: initial;
}

span span {
    color: red;
}

.value {
    display: inline-block;
    position: relative;
    left: 5px;
    width: 65%;
}

.clone-property {
    display: none;
}

.error, #profile-pic-error {
    display: inline-block;
    position: relative;
    left: 5px;
    color: red;
    font-size: 10px;
    width: 65%;
    display: none;
}


#profile-pic-error {
    width: 100%;
    display: none;
}

.choice {
    display: inline-block;
    width: 100px;
}

.cross-line {
    clear: both;
    height: 5px;
    width: 100%;
    background-color: rgb(221,221,221);
    margin: auto;
}

.submit {
    margin-top: 20px;
    widows: 100%;
    text-align: center;
}


button {
    color: white;
    background-color: rgb(0,132,255);
    padding: 5px 10px;
    border: 3px solid rgb(28,130,255);
    border-radius: 8px;
    font-size: 20px;
    outline: none;
    cursor: pointer;
}


button:active {
    background-color: rgb(0, 92, 172);
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: rgb(64,70,77);
    background-color: white;
    border: 2px solid rgb(138,138,138);
    border-radius: 8px;
    box-shadow:  0px 0px 30px -4px black;
    width: 500px;
    height: 230px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.modal-title {
    height: 50px;
}

#title {
    display: inline-block;
    width: 90%;
    padding-left: 10px;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
}


#close {
    display: inline-block;
    width: 5%;
    color: rgb(240,240,240);
    background-color: white;
    border: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
}

#close:hover {
    color: rgb(100,100,100);
}

#close:active {
    color: rgb(100,100,100);
}

.modal-content {
    width: 100%;
    height: 120px;
    border-top: 1px solid rgb(242,242,242);
    border-bottom: 1px solid rgb(242,242,242);
}


#content {
    margin: 0;
    padding-left: 10px;
    font-size: 14px;
    border: 
}


.model-button {
    height: 58px;
    text-align: right;
    vertical-align: middle;
}


#no-button {
    position: relative;
    top: 15px;
    color: rgb(51,51,51);
    width: 50px;
    background-color: rgb(250,250,250);
    padding: 5px 10px;
    border: 1px solid rgb(235,235,235);
    border-radius: 4px;
    margin-right: 10px;
    font-size: 15px;
    outline: none;
    cursor: pointer;
}


#no-button:active {
    background-color: rgb(175, 175, 175);
}

#yes-button {
    position: relative;
    top: 15px;
    color: white;
    width: 80px;
    background-color: rgb(0,132,255);
    padding: 5px 10px;
    border: 1px solid rgb(28,130,255);
    border-radius: 4px;
    margin-right: 10px;
    font-size: 15px;
    outline: none;
    cursor: pointer;
}


#yes-button:active {
    background-color: rgb(0, 92, 172);
}

@media screen and (max-width: 800px), screen and (max-device-width:800px){
.form-content{
    border: none;
    margin-top: 0;
}

.heading {
    text-align: center;
}

.profile-pic {
    float: none;
    width: 100%;
}


.informations {
    float: none;
    width: 100%;
    height: 400px;
    text-align: left;
}

.property {
    width: 100%;
    text-align: left;
    margin: auto;
}


.value {
    width: 98%;
    margin-top: 5px;
    position: static;
}

.clone-property{
    width: 0;
    height: 0;
}

.error {
    width: 100%;
    position: static;
}

.error {
    text-align: left;
    padding: 2px;
    margin-bottom: 10px;
}

.choice {
    margin-top: 10px;
}

.cross-line {
    height: 0;
}

.modal {
    width: 95%;
    max-width: 500px;
}
    
}