body {
    margin: 0;
}

.wrapper {
    text-align: center;
    width: 80%;
    max-width: 800px;
    border: 8px solid rgb(221,221,221);
    padding: 10px;
    margin: auto;
    font-family: "Avenir Next";
}

.heading {
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(195,201,211);
    text-align: left;
}


.content {
    color: rgb(58,64,73);
}

.profile{
    height: 200px;
    width: 60%;
    float: left;
    display: flex;
    justify-content: space-around; 
}

.profile-picture{
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 5px solid rgb(221,221,221);
}

#profile-pic {
    display: block;
    max-height: 200px;
    min-height: 200px;
    width: 200px;
    max-width: 100%;
    object-position: center;
    object-fit: cover;
}

.information {
    height: 200px;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: left;
}


.info {
    display: flex;
}

.label {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-weight: bold;
}

.user-info {
    flex-grow: 1;
    padding-left: 10px;
}



.result-content {
    display: flex;
    height: 200px;
    width: 35%;
    float: right;
    justify-content: space-around;
    flex-direction: column;
    border: 5px solid rgb(151,151,151);
}

#result-title {
    margin: 0;
}

.result-content label {
    display: inline-block;
    width:  50%;
    text-align: right;
    font-weight: bold;
}

.result-content span {
    display: inline-block;
    width: 40%;
    padding-left: 10px;
    text-align: left;
}


.result-chart{
    clear: both;
    width: fit-content;
    height: fit-content;
    margin: auto;
}


@media screen and (max-width: 900px), screen and (max-device-width:900px){
.wrapper {
    margin: auto;
    margin-top: 5px;
    width: 90%;
    padding: 5px;
}


.heading {
    text-align: center;
}


.profile {
    float: none;
    display: block;
    margin: auto;
    /* border: 5px solid rgb(151,151,151); */
    width: 350px;
    height: auto;
}


.profile-picture {
    display: block;
    margin: auto;
}

.information {
    margin: auto;
    width: 50%;
    min-width: 300px;
    height: 110px;
}

.label {
    width: 50%;
}

.user-info {
    width: 45%;
}

.result-content {
    float: none;
    margin: auto;
    width: 330px;
}


.result-content label {
    width:  50%;
}

.result-content span {
    width: 45%;
    padding-left: 10px;
}



}